@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    font-family: 'Montserrat';
}
.mainbox {
    display: flex;
    width: 810px;
    margin: 0 auto;
}
#gnb-nav {
    display: none;
}
#gnb-nav.active{ display: inline-block;}
.anchor {
    text-align: center;
    font-weight: 700;
}
.gnb {
    width: 200px; height: 100%; display: inline-block; border: 1px solid #000;
    padding-top: 200px; box-sizing: border-box;
}
.gnb a {
    display: block;
    text-align: center;
    padding: 20px;
}
.gnb a:hover{color:mediumblue;}
.resume {
    position: relative;
    width: 610px;
    padding: 60px 30px 30px ; 
    border: 1px solid #ebebeb;
}
.title-box {
    position: relative;
}
.ham-btn {
    cursor: pointer;
    position: relative;
    top: -25px;
    left: 10px;
}
.ham-btn span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #222;
    margin: 5px;
}
.ham-btn.active span{ transition: 0.3s;}
.ham-btn.active span:nth-of-type(2){ display: none;}
.ham-btn.active span:nth-of-type(1){ transform: rotate(45deg) translate(6px,6px);}
.ham-btn.active span:nth-of-type(3){ transform: rotate(-45deg);}
.profile-img {
    position: absolute;
    top: -30px;
    right: 0px;  
}
#contact {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}
#contact div {
    margin: 10px 0px 0px 0;
    font-size: 12px;
    color: #7c7c7c;
    font-weight: bold;
    width: 270px;
    height: 21px;
}
.name-text{
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
    padding: 20px 0 20px 0;
}
h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    font-style: italic;
}
h2 {
    font-size: 20px;
    color: #282828;
    font-weight: lighter;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 3px solid #ebebeb;
}
h3 {
    margin-bottom: 10px;
}
section {
    margin: 30px 0;
}
.section-text {
    font-size: 10px;
    line-height: 16px;
}
.title-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}
.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}
.float-wrap{
    overflow: hidden;
}
.sns-wrap{
    text-align: right;
}
.sns-img {
    width: 12px;
    height: 12px;
}
footer {
    text-align: center; background: #1e1e1e;
    color: #919191;
    font-size: 12px;
    padding: 20px;
}
p {
    margin-bottom: 5px;
}
.float-wrap, .desc-text, .desc-subtext, .title-text {
    padding: 5px;
}